<footer class="page-footer teal">
  <div class="footer-copyright">
    <div class="container text-white">
          <a class="waves-effect" href="{{ site.baseurl }}/tags">Tags</a> | <a class="waves-effect" href="{{ site.baseurl }}/categories">Categories</a> | <a class="waves-effect" href="https://github.com/{{ site.repository }}">GitHub</a>
    </div>
  </div>
</footer>

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

{% for js in layout.js %}
  {% if js contains "//" %}
    <script src="{{ js }}"></script>
  {% else %}
    <script src="{{ site.baseurl }}/assets/js/{{ js }}"></script>
  {% endif %}
{% endfor %}

{% for js in page.js %}
  {% if js contains "//" %}
    <script src="{{ js }}"></script>
  {% else %}
    <script src="{{ site.baseurl }}/assets/js/{{ js }}"></script>
  {% endif %}
{% endfor %}
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
